html{}body{background-color:chocolate;background-size:cover;
}


footer {
position:fixed;left:150px;bottom:50px;
font-size:25px;font-weight:bold;z-index:1;color:white;text-align:left;
text-align:center;
font-weight:bold;
#4d4dff;
}




button{
          background:saddlebrown;
          width:12%;
          height:10%;
		  border-radius: 20%;
		  margin-bottom:5px;
		  margin-right:5px;
		  font-size:20px;
} 

button:hover {
          background:goldenrod;
          cursor: pointer;
          box-shadow: 0px 0px 1px 1px goldenrod;
          border-radius: 20%;

}
button img{
          width:100%;
}

.linear-wipe {
    text-align: center;
    
    background: linear-gradient(to right, rgb(0,0,0) 20%, rgb(255,0,0) 40%, rgb(0,255,0) 60%, #FFF 80%);
    background-size: 200% auto;
    
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    -webkit-animation: BackgrounGradient 25s ease infinite;
    -moz-animation: BackgrounGradient 25s ease infinite;
    animation: BackgrounGradient 25s ease infinite;

}



@-webkit-keyframes BackgrounGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackgrounGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackgrounGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
  
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
© 2021 GitHub, Inc.
